#wpcontent {
    margin-left:10px;
}

.typing_indicator {
    height: 11px;
    margin-left: 10px;
    font-style: italic;
    color: grey !important;
}

.admin_chat_box_inner span.timedate {
    clear: both;
    position: relative;
    font-size: 0.8em;
    font-style:italic
}
.wplc-msg-float-left {
    left: 32px;
    float:left;
}
.wplc-msg-float-right {
    right: 32px;
    float:right;
}


.typing_indicator {
    background: inherit !important;
}

.wplc-admin-message-avatar, .wplc-user-message-avatar{
    max-width:29px;
    max-height:29px;
}

.admin_chat_box_inner_bottom .typing_indicator {
    background-color: transparent !important;
    color: #333 !important;
}

.messageBody {
    color: #444;
}

.wplc-user-message, .wplc-admin-message {
    display: block;
    clear: both;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 10px;
}

.wplc-user-message.wplc-color-bg-1,
.wplc-admin-message.wplc-color-bg-4 {
    background-color: transparent !important;
}

.admin_chat_box {
    overflow: scroll;
}

.admin_chat_box_inner .timedate {float: right;}

.wplc-msg-content {
    float: left;
}

.admin_chat_box_inner {
    height: 100% !important;
    width: 100%;
}

.wplc-chat-person-name {
    color: #444;
}

.admin_chat_box_inner .timedate {
    float: right;
    clear: none !important;
    top: 10px;
}

.wplc-admin-message .wplc-msg-content span {
    color: #000;
}

.wplc-user-message .wplc-msg-content span {
    color: #666;
}

.wplc-chat-person-name {
    font-weight: bold;
}